<html lang="en" ng-app="MPLite">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%=	pagetitle	%></title>
		
		<%-	seometa	%>
		
		<%-	opengraph	%>
		
		<%-	stylesheets	%>
		
		<%-	scripts	%>
		
		<%-	mp.template.getHeader()	%>
	</head>
	
	<body>
		<%	include	./header	%>
		  
		<section class="wrapper">		
			<%- body %>
		</section>
		
		<%	include	./footer	%>
	</body>
</html>