<h1 class="section-heading">Basic Settings</h1>
<form class="form-group	row" method="post" action="/mp-manager/settings" name="siteSettings" ng-controller="SiteSettings">
	<div class="form-group">
		<label class="col-md-3">Site Title</label>
		<div class="col-md-6">
			<input type="text" name="sitename" value="<%=	locals.settings.sitename	%>" class="form-control" required />
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="form-group">
		<label class="col-md-3">Tagline</label>
		<div class="col-md-6">
			<input type="text" name="tagline" value="<%=	(locals.settings.tagline)?locals.settings.tagline:''	%>" class="form-control" required />
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="form-group">
		<label class="col-md-3">Brief Description</label>
		<div class="col-md-6">
			<textarea type="text" name="description" class="form-control" rows="5" ><%=	(locals.settings.description)?locals.settings.description:''	%></textarea>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="form-group">
		<label class="col-md-3">Webmaster Email</label>
		<div class="col-md-6">
			<input type="text" name="email" value="<%=	(locals.settings.email)?locals.settings.email:''	%>" class="form-control" required />
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="form-group">
		<label class="col-md-3">Timezone</label>
		<div class="col-md-6">
			<select name="timezone" class="form-control">
				<%	locals.timezoneList.forEach(function(zoneInfo)	{	%>
					<option value="<%=	zoneInfo.abbr	%>" <%=	(locals.settings.timezone == zoneInfo.abbr)?'selected':''	%> ><%=	zoneInfo.text	%></option>
				<%	});	%>
			</select>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<h4 class="section-heading	col-md-12">Account &amp; Registration</h4>
	<div class="form-group">
		<label class="col-md-3">Allow New User Registration</label>
		<div class="col-md-6">
			<select name="allowUserRegistration" class="form-control">
				<option value="1" <%=	(1 == locals.settings.allowUserRegistration)?'selected':''	%>>Yes</option>
				<option value="0" <%=	(0 == locals.settings.allowUserRegistration)?'selected':''	%>>No</option>
			</select>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="form-group">
		<label class="col-md-3">Activation Required for New Users</label>
		<div class="col-md-6">
			<select name="activationRequired" class="form-control">
				<option value="1" <%=	(locals.settings.activationRequired && 1 == locals.settings.activationRequired)?'selected':''	%>>Yes</option>
				<option value="0" <%=	(!locals.settings.activationRequired || 0 == locals.settings.activationRequired)?'selected':''	%>>No</option>
			</select>
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="form-group	col-md-12">
		<input type="submit" name="submit" value="Save" class="btn-info" />
	</div>
</form>